
/* ============================================== */

#dailyPicture h1 {
	font-size: 50px;
	font-weight: 700;
	/* color: #BF6EE0; */
	color: #F2CA27;
	/* color: #1C2A43; */

}

#dailyPicture p {
	font-size: 14px;
	font-weight: 300;
	color: #8da2b5;
	margin-bottom: 0px;
	padding: 0px;
}


.content-box {
	padding: 60px 20px;
}
